/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Main Styling */
body{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.7em;
}
a{
    text-decoration: none;
    color: #736E6E;
}

h1, h2, h3{
    padding-bottom: 20px;
}

p{
    margin:10px 0;
} 

/* Utility Classes */
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.lead{
    font-size: 20px;
}
.primary-text{
    color: #D9D9D9;
}
.btn{
    display: inline-block;
    font-size: 18px;
    color: rgb(242, 242, 242);
    background: rgba(128, 140, 140, 0.493);
    border: none;
    padding: 13px 20px;
    cursor: pointer;
}

.btn:hover{
    background: #8C8C8C;
}

.btn-light{
    background: #F2F2F2;
    color: #736E6E;
}

.bg-dark{
    background: #736E6E;
    color: #F2F2F2;
}
.bg-light{
    background: #D9D9D9;
    color: #8C8C8C;
}
.bg-primary{
    background: #F2F2F2;
    color: #736E6E;
}

.clr{
    clear: both;
}

/* Padding */
.py-1{ padding: 10px 0; }
.py-2{ padding: 20px 0; }
.py-3{ padding: 30px 0; }
/* Navbar */
#navbar{
    background: #736E6E;
    color: #F2F2F2;
    overflow: auto;
}

#navbar a{
    color: #F2F2F2;
}

#navbar .logo{
    float: left;
    padding-top: 25px;
}

#navbar ul{
    list-style: none;
    float:right;
}

#navbar ul li{
float: left;
}

#navbar ul li a{
    display: block;
    padding: 23px;
    text-align:center;
}

#navbar ul li a:hover,#navbar ul li a.current{
    color: #D9D9D9;
    background: #8C8C8C;
}

#showcase{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center/cover;
    height: 648px;
    filter: grayscale();
}

#showcase .showcase-content{
    color:#F2F2F2;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}

#showcase .showcase-content a{
    color:#D9D9D9;
}

/* Home Info */

#home-info{
    height: 400px;
}

#home-info .info-img{
    float: left;
    width: 50%;
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/189333/pexels-photo-189333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center/cover;
    min-height: 100%;
    filter: saturate(25%);
}

#home-info .info-content{
    float:right;
    width:50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 20px;
}

/* Features */
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align:center;
}

.box i{
    margin-bottom: 10px;
}
/* About Info */
#about-info .info-right{
    width: 50%;
    min-width: 100%;
}

#about-info .info-right img{
    display: block;
    margin: auto;
}

#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}
/* Testimonials */
#testimonials{
    height: 600px;
    background: url('https://images.pexels.com/photos/1579253/pexels-photo-1579253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center -150px/cover;
    padding-top: 40px;
}
#testimonials h2{
    color:#736E6E;
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial{
padding: 20px;
margin-bottom: 40px;
background: rgba(242, 242, 242, 0.5);
}

#testimonials .testimonial img{
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}

/* Contact form */
#contact-form .form-group{
    margin-bottom: 20px;
    max-width: 60%;
    margin: auto;
}

#contact-form label{
    display: block;
    margin-bottom: 5px;
}

#contact-form input, #contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px #D9D9D9 solid;
}

#contact-form textarea{
    height: 200px;
}

#contact-form input:focus, #contact-form textarea:focus{
    outline: none;
    border-color: #736E6E;
}

/* Footer */

#main-footer{
    text-align: center;
    background: #736E6E;
    color: #F2F2F2;
    padding: 20px;
}

.highlight{
    color: #736E6E;
}

.info-left h1{
    font-size: 40px;
}

.contact-heading{
    color: #8C8C8C;
}

.form-group{
    color: #8C8C8C;
}
#contact-form button{
    margin-left:20%;
}